*{
	font-family: Arial;
}
a {
	text-decoration: none;
}

/*header*/
header {
	height: 740px;
	background-image: url(../img/background/hero.jpg);
	color:white;
}

header::before{
height: 700px;
|background-color: rgba(0, 0, 0, 0.37);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.col-2 h4{

	top:20px;
	position: absolute;

}

ul{
	padding-top:30px;
	text-align: center;
	height:100px;
	margin-left: 200px;
}

.col-10{
	text-align: center;
	height:100px;
}

.col-10 li{
	list-style: none;
	color: white;
	display: inline;
	margin-top: 40px;
	padding: 30px;
	text-align: right;
	top:20px;
}

.col-10 span{
	color: #006699;
}

.col-12{
	margin: 0 auto;
	text-align: center;
	margin-top: 15%;
	color:white;
}

.botones{
	height:100px;
	width:600px;
	margin: 0 auto;
	padding-top:200px;
	margin-left: 40%;
}

.bot1{
	color:white;
	text-align: center;
	background:#505050;
	width:150px;
	height:70px;
	display:inline;
	padding:15px;
}

.bot2{
	color:white;
	text-align: center;
	background-color:transparent;
	width:150px;
	height:70px;
	display:inline;
	padding:15px;
	margin-left: 20px;
}

/*Esto es del menu de Lorem Ipsum.*/

.Lorem-Ipsum {
	color: #0dc0c0;
	font-size: 40px;
	position: relative;
	left: 45%
}

.Lista {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

.Lorem {
	text-align: center;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 30px;
	color: #888;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
/*Esto es del menu de Lorem Ipsum.*/

/*more features*/
.mfeatures i{
	color: #0dc0c0;
	font-size: 40px;
	left: 40px;
	position: relative;
}

.mfeatures p{
	color: #888;
}
/*features*/
/*tatiana*/

.portafolio{
	background-color: 	#D0D0D0;
}

.portafolio h2{
	top: 0;
	text-align: center;
	color:#484848;
	max-height: 100%;

}

.portafolio p{
	text-align: center;
	color:#484848;
}

.portafolio li{

	list-style: none;
	background-color: white;
	color:#484848;
	width:140px;
	height:80px;
	display:inline;
	padding:15px;

}

nav{
	margin-top: 25%;
	margin-left: -20%;
	position: relative;
}

.fotos{

	padding-top:100px;
}

.fotos img{

	width:500px;
	height:260px;
	border-top: 8px solid white;
	border-left: 8px solid white;
	border-right: 8px solid white;
	border-bottom: 40px solid white;
	margin-left: 50px;
	position: relative;
}

.fotos h6{

	text-align: center;
	position:absolute;
	margin-left: 100px;
}

.fotos p, h6 {
	position: relative;
	top: -30px
}

/*boton portfolio*/
.bot3{
	background-color: #696969;
	color:white;
	width: 150px;
	height: 50px;
	margin-left: 510px;
}

.bot3 p{
	
	text-align: center;
	margin:0 auto;
	color: white;
	padding-top: 10%;

}
/*portafolio*/
/*city*/

.city{
	background-image: url(../img/background/city.jpg);
	height: 600px;
	max-width: 100%;
	background-repeat: no-repeat;
	font-size: 25px;
}

.city .col-12 div {
	width: 250px;
	height: 70px;
	opacity: 0.1;
	left: 450px;
	position: relative;
	background-color: white;
}

